{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{%static 'images/logo.ico'%}" type="image/ico" sizes="32x32">
    <title> GameNest Ticket | Login</title>
    <!-- Css only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
</head>

<body>
    <div class="login-wrapper">
        <div class="logo-container"><a href="/">
                <img src="{%static 'images/logo.png'%}" alt="" loading="lazy" class="login-brand-logo">
            </a>
        </div>
        <form action="" id="loginbtn" method="post" >
         {% csrf_token %}
            <label class="login-group" >Username
                <input class="login-input" type="text" required name="username" placeholder="Username" id="username" />
            </label>
            <label class="login-group" style="position: relative" >Password
                <input class="login-input" required  type="password" name="password" placeholder="Password" id="password"  onclick="togglePasswordVisibility()"  />
                <i id="toggleIcon" class="fas fa-eye-slash"></i>
            </label>
            <p class="error-text" id="error" ></p>

    <button type="submit" class="login-btn">Login</button>

          

        </form>
    </div?>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'js/app.js'%}"></script>
    <script src="{%static 'js/app2.js'%}"></script>
</body>

</html>